body {
  font-family: 'Dancing Script', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

ul {
  list-style: none;
  width: 70%;
  height: 30vh;
  overflow: auto;
  background-color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
}

li {
  height: 90%;
  width: 30%;
  background-color: white;
  box-shadow: 10px 5px 5px gainsboro;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  margin-right: 1em;
}

div[class='degree'] {
  font-size: 2.5em;
  height: 30%;
  /* background-color: lightCyan; */
}

div[class='icon'] {
  /* background-color: lightpink; */
  height: 40%;
}

div[class='message'] {
  height: 30%;
  font-size: 1.5em;
}

.img {
  height: 100%;
}
