.container {
  border: 2px solid blue;
  margin: 5px;
  display: inline-block;
}

span {
  display: inline-block;
  background-color: blue;
  height: 40px;
  width: 40px;
  margin: 20px;
  z-index: -1;
  position: relative;
}

.red-one {
  background-color: rgba(255, 0, 0, 0.5);
}
