.container {
  display: flex;
  justify-content: center;
}

.item {
  width: 100px;
  height: 100px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}
