body {
  display: flex;
  justify-content: center;
}

.container {
  width: 500px;
  height: 200px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100px;
  height: 100px;
  background-color: purple;
}
